# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/lambda_function.zip
terraform/*.tfvars

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
